<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header" style="background-color: #deefff;">Bad Keywords</div>
            <div class="card-body">
              <form id="badKeywordForm">
                  <div class="form-group">
                      <label for="keyword">Keyword:</label>
                      <input type="text" class="form-control" id="keyword" name="keyword">
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
              </form>              
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
            <div class="card-header" >Bad Keywords List</div>
            <div class="card-body">
              <ul id="badKeywordList" class="list-group">
              </ul>              
            </div>
        </div>
    </div>
  </div>
</div>
