<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover border">
        <thead class="" style="background-color: #deefff;">
          <tr>
            <th>Quản lý</th>
            <th>Mô tả</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/admin/user">Quản lý người dùng</a></td>
            <td>Thêm, xóa, khóa, xem thông tin người dùng</td>
          </tr>
          <tr>
            <td><a href="/admin/badkeyword">Quản lý Bad Keywords</a></td>
            <td>Thêm, xóa các Bad Keyword</td>
          </tr>
          
         <tr>
            <td><a href="/admin/config">Quản lý các cấu hình của email</a></td>
            <td rowspan="4">
              <p>Thiết lập số lượng người nhận tối đa</p>
              <p>Kích thước tối đa của email</p>
              <p>Giới hạn số lượng tập tin đính kèm</p>
              <p>DUng lượng tối đa của email</p>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
