<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background-color: #deefff;">Users</div>
                <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="userList">
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirm delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalDelete" aria-hidden="true">
    <div class="modal-dialog"> 
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Xóa người dùng</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có chắc rằng muốn xóa <strong class="nameDel">Trần Minh Trí</strong>?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirmDeleteButton">Xóa</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
</div>
<!-- End Confirm delete -->
<!-- Confirm lock -->
<div class="modal fade" id="lockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLock" aria-hidden="true">
    <div class="modal-dialog"> 
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Khóa người dùng</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có chắc rằng muốn khóa <strong class="nameDel">Trần Minh Trí</strong>?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirmLockButton">Khóa</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>
<!-- End Confirm lock -->
<!-- Confirm lock -->
<div class="modal fade" id="unlockModal" tabindex="-1" role="dialog" aria-labelledby="myModalunlock" aria-hidden="true">
    <div class="modal-dialog"> 
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Mở khóa người dùng</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có chắc rằng muốn mở khóa <strong class="nameDel">Trần Minh Trí</strong>?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirmUnlockButton">Unlock</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>
<!-- End Confirm lock -->
