<html>
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/admin.js"></script>
</head>
<body>
  <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/admin">Webmail</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/config">Configs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/badKeyword">Bad keywords</a>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="btnLogout">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
<script src="/js/admin.js"></script>
</html>
