<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Catmail</title>
</head>
<body>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-sopP+GxZeNc/jyLw3kKjgRdCs/7o57/e9X9b4qLpLRDuaYs+I1nz09sZKxJodAaHmJlBJPpI+JdLnvntLAXvbw==" crossorigin="anonymous"></script>
  <!-- Link to Font Awesome icons -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
</body>
</html>