
<head>
    <link rel="stylesheet" type="text/css" href="/css/404.css">
</head>

<main>
  <div class="container bg-primary h-screen flex align-center justify-center p-2">
    <div class="flex">
        <div class="flex-1">
            <img src="/img/404.png" class="w-full"/>
        </div>
        <div class="flex-1 flex flex-col justify-center">
            <h1>404</h1>
            <h2>UH OH! You're lost.</h2>
            <p>The page you are looking for does not exist.
            How you got here is a mystery. But you can click the button below
            to go back to the homepage.
            </p>
            <a href="/" class="btn green">HOME</a>
        </div>
    </div>
  </div>
</main>